<section class="filter">
    <form #f="ngForm" class="filter__form" action="">
        <h2 class="filter-title">Color Range</h2>
        <div class="filter__range">
            <div class="filter_item">
                <label class="filter__label" for="">From</label>
                <span class="hexa-wrapper {{hexaMin.invalid && (hexaMin.dirty || hexaMin.touched)? 'hexa-wrapper--invalid' : ''}}">
                    <i class="fa-solid fa-hashtag"></i>
                    <input [formControl]="hexaMin" data-testid="minValue" name="minValue" [(ngModel)]="range.min" (keyup.enter)="validateRange(hexaMin, 'min_color')" data-testid="minValue" class="filter__input" type="text" placeholder="">
                </span>
            </div>
            <div class="filter_item">
                <label class="filter__label" for="">To</label>
                <span class="hexa-wrapper {{hexaMax.invalid && (hexaMax.dirty || hexaMax.touched)? 'hexa-wrapper--invalid' : ''}}">
                    <i class="fa-solid fa-hashtag"></i>
                    <input [formControl]="hexaMax" data-testid="maxValue" name="maxValue" [(ngModel)]="range.max" (keyup.enter)="validateRange(hexaMax, 'max_color')" data-testid="maxValue" class="filter__input" type="text" placeholder="">
                </span>
            </div>
        </div>
        <h2 class="filter-title">Texture</h2>
        <div class="filter_texture">
            <div *ngFor="let option of textureOptions; let i = index" class="filter__item">
                <app-checkbox [type]="textures[i]" [name]="names[i]" (changedEvent)="updateURL('texture', $event)"></app-checkbox>
                <label class="filter__label" for="">{{option}}</label>
            </div>
        </div>
        
    </form>
</section>
