.footer{
    height: fit-content;
    padding: 1.5rem 0;
    width: 100%;
    background-color: var(--quaternary-color);
    color: #44413c;
}

.footer *{
    margin: 0 auto;
}

.footer__author{
    text-align: center;
    font-size: 1.3rem;
}

.footer__contact *{
    text-align: center;
}

.footer__contact td{
    padding: 0.3rem 0.3rem;
}

.footer_content{
    width: fit-content;
    padding: 0.5rem;
    border: 0.1rem solid var(--tertiary-color);
    outline: 0.1rem solid var(--tertiary-color);
    outline-offset: 0.2rem;
    border-radius: 0.5rem;
}