.color-cards__wrapper{
    display: grid;
    gap: 2rem;
    width: 70%;
    margin: 3rem auto;
    grid-template-columns: repeat(auto-fill, minmax(15rem, 1fr));
}

.color-card__wrapper{
    width: fit-content;
    justify-self: center;
}