<app-search-bar></app-search-bar>
<main class="color-cards">
    <app-filter class="filter-wrapper"></app-filter>
    <section class="cards-wrapper">
        <section class="color-cards__cards-container">
            <app-color-card (deleteEvent)="deleteColorCard($event)" (editEvent)="showModalCardForm($event)" class="color-card-wrapper" *ngFor="let colorCard of colorCards" [colorCard]="colorCard"></app-color-card>
        </section>
    </section>
    <button (click)="showModalCardForm()" class="button-add">
        <i class="fa-solid fa-plus"></i>
    </button>
</main>

<div *ngIf="modalCardFormEnabled" class="modal-form__wrapper">
    <form (ngSubmit)="handleModalFormSubmit(modalForm)" #modalForm="ngForm" class="modal-form" action="">
        <h4 *ngIf="modalFormValues.texture == 'C'; else elseBlock" [ngStyle]="{'background-image': 'linear-gradient(45deg, ' + modalFormValues.preview + ' 30%, rgba(255, 255, 255))'}" class="modal-form__color-preview">[ Color Preview ]</h4>
        <ng-template #elseBlock>
            <h4 [style.backgroundColor]="modalFormValues.preview" class="modal-form__color-preview">[ Color Preview ]</h4>
        </ng-template>
        <input [(ngModel)]="modalFormValues.preview" name="hexaColor" class="modal-form__field" type="text" placeholder="Color value">
        <select [(ngModel)]="modalFormValues.texture" name="colorTexture" class="modal-form__field" id="">
            <option name="" value="" hidden selected>Choose texture</option>
            <option name="U" value="U">Uncoated</option>
            <option name="C" value="C">Coated</option>
        </select>
        <input ngModel name="colorCode" min="0" class="modal-form__field" type="number" placeholder="Color code">
        <input class="modal-form__button submit-button" type="submit" value="Create">
        <input (click)="resetModalFormValues()" class="modal-form__button cancel-button" type="button" value="Cancel">
    </form> 
</div>



