.color-cards{
    margin: 8rem 2rem;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.cards-wrapper{
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 9rem);
    justify-content: space-between;
}

.color-cards__cards-container{
    flex: 1;
    min-width: calc(100vw - 50rem);
    display: grid;
    grid-template-columns: repeat(auto-fill, 16rem);
    grid-template-rows: repeat(auto-fill, 22rem);
    gap: 1.5rem;
}

.color-card-wrapper{width: fit-content; justify-self: center; }

.filter-wrapper{ order: 1; }

.paginator-wrapper{
    align-self: center;
    margin: 1rem 0;
}

.button-add{
    cursor: pointer;
    position: fixed;
    width: fit-content;
    height: fit-content;
    padding: 2rem;
    border-radius: 100%;
    background-color: var(--quaternary-color);
    color: var(--primary-color);
    bottom: 1rem;
    right: 1rem;
    box-shadow: 0 0 0.2rem 0.1rem  var(--secondary-color);
}

.button-add i{ font-size: 2rem; }

@media only screen and (max-width : 837px) {
    .color-cards{ flex-direction: column; align-items: center;}
    .filter-wrapper{ order: 0; }

    .color-cards__cards-container{ margin-top: 2rem; min-width: calc(100vw - 30rem); }
}