<app-search-bar></app-search-bar>
<main class="color-cards">
    <app-filter class="filter-wrapper"></app-filter>
    <section class="cards-wrapper">
        <section class="color-cards__cards-container">
            <app-color-card (deleteEvent)="deleteColorCard($event)" (editEvent)="showModalCardForm($event)" class="color-card-wrapper" *ngFor="let colorCard of colorCards" [colorCard]="colorCard"></app-color-card>
        </section>
    </section>
    <button (click)="showModalCardForm()" class="button-add">
        <i class="fa-solid fa-plus"></i>
    </button>
</main>

<div *ngIf="modalCardFormEnabled" class="modal-form__wrapper">
    <form (ngSubmit)="handleModalFormSubmit(modalForm)" #modalForm="ngForm" class="modal-form" action="">
        <h4 *ngIf="modalFormValues.texture == 'C'; else elseBlock" [ngStyle]="{'background-image': 'linear-gradient(45deg, ' + modalFormValues.preview + ' 30%, rgba(255, 255, 255))'}" class="modal-form__color-preview">[ Color Preview ]</h4>
        <ng-template #elseBlock>
            <h4 [style.backgroundColor]="modalFormValues.preview" class="modal-form__color-preview">[ Color Preview ]</h4>
        </ng-template>
        <input #hexaColor="ngModel" required [(ngModel)]="modalFormValues.preview" id="hexaColor" name="hexaColor" class="modal-form__field {{hexaColor.invalid && (hexaColor.dirty && hexaColor.touched)? 'modal-form__field--invalid' : ''}}" type="text" placeholder="Color value">
        <span class="warning" *ngIf="hexaColor.invalid && (hexaColor.dirty && hexaColor.touched)"><span>Color value must be an hexa value (i.e.: #FFF)</span></span>
        <select #texture="ngModel" required [(ngModel)]="modalFormValues.texture" id="colorTexture" name="colorTexture" class="modal-form__field {{texture.invalid && (texture.dirty && texture.touched)? 'modal-form__field--invalid' : ''}}">
            <option name="" value="" hidden selected>Choose texture</option>
            <option name="U" value="U">Uncoated</option>
            <option name="C" value="C">Coated</option>
        </select>
        <span class="warning" *ngIf="texture.invalid && (texture.dirty && texture.touched)"><span>Texture must not be empty. Select an option</span></span>
        <input #colorCode="ngModel" required [ngModel]="defaultCard?.code" id="colorCode" name="colorCode" min="0" class="modal-form__field {{colorCode.invalid && (colorCode.dirty && colorCode.touched)? 'modal-form__field--invalid' : ''}}" type="number" placeholder="Color code">
        <span class="warning" *ngIf="colorCode.invalid && (colorCode.dirty && colorCode.touched)"><span>Color code must be a number</span></span>
        <input class="modal-form__button submit-button" type="submit" value="Create">
        <input (click)="resetModalFormValues()" class="modal-form__button cancel-button" type="button" value="Cancel">
    </form> 
</div>



