.color-cards{
    margin: 8rem 2rem;
    display: flex;
    justify-content: space-between;
    position: relative;
}

.cards-wrapper{
    display: flex;
    flex-direction: column;
    min-height: calc(100vh - 9rem);
    justify-content: space-between;
}

.color-cards__cards-container{
    flex: 1;
    min-width: calc(100vw - 50rem);
    display: grid;
    grid-template-columns: repeat(auto-fill, 16rem);
    grid-template-rows: repeat(auto-fill, 22rem);
    gap: 1.5rem;
}

.color-card-wrapper{width: fit-content; justify-self: center; }

.filter-wrapper{ order: 1; }

.paginator-wrapper{
    align-self: center;
    margin: 1rem 0;
}

.button-add{
    cursor: pointer;
    position: fixed;
    width: fit-content;
    height: fit-content;
    padding: 2rem;
    border-radius: 100%;
    background-color: var(--quaternary-color);
    color: var(--primary-color);
    bottom: 1rem;
    right: 1rem;
    box-shadow: 0 0 0.2rem 0.1rem  var(--secondary-color);
}

.button-add i{ font-size: 2rem; }

@media only screen and (max-width : 837px) {
    .color-cards{ flex-direction: column; align-items: center;}
    .filter-wrapper{ order: 0; }

    .color-cards__cards-container{ margin-top: 2rem; min-width: calc(100vw - 30rem); }
}

/*MODAL FORM*/

.modal-form__wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(40, 40, 40, 0.8);
    top: 0;
    left: 0;
    z-index: 999;
}

.modal-form{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: fit-content;
    height: fit-content;
    background-color: var(--primary-color);
    padding: 0.5rem;
    padding-bottom: 1.5rem;
    border-radius: 1rem;
}

.modal-form__button{ cursor: pointer; }

.submit-button{
    padding: 1rem 4rem;
    margin-top: 1rem;
    border-radius: 2rem;
    color: var(--primary-color);
    background-color: var(--quaternary-color);
    font-size: 1.4rem;
}

.submit-button:focus, .submit-button:hover{ background-color: var(--tertiary-color); }

.cancel-button{
    margin-top: 0.5rem;
    font-size: 1.2rem;
    background-color: var(--primary-color);
    color: darkred;
    text-decoration: underline;
}

.modal-form__color-preview{
    padding: 3rem 8rem;
    border-radius: 1rem;
    margin-bottom: 1rem;
    position: relative;
    font-size: 2rem;
    border: 0.1rem solid var(--secondary-color);
}

.modal-form__field{
    font-size: 1.4rem;
    height: 3rem;
    padding: 0.3rem;
    position: relative;
}

.modal-form__field--invalid{
    border: 0.1rem solid darkred;
}

.warning{
    width: 70%;
    text-align: start;
    display: flex;
    margin-bottom: 0.5rem;
}

.warning span{
    background-color: darkred;
    color: var(--primary-color);
    padding: 0.6rem 0.8rem;
    border-radius: 0.2rem;
}

.modal-form__field, .modal-form__hexa-wrapper{
    border: 0.1rem solid var(--tertiary-color);
    border-radius: 0.3rem;
    width: 70%;
    margin: 1rem 0;
}

.modal-form__hexa-wrapper{
    background-color: var(--tertiary-color);
    display: flex;
}

.modal-form__hexa-wrapper input{
    margin: 0;
    border: 0;
    border-radius: 0;
    width: 100%;
    border-left: 0.1rem solid var(--tertiary-color);
}

.modal-form__hexa-wrapper i{
    padding: 0.3rem 0.5rem;
    font-size: 1.3rem;
    align-self: center;
    color: var(--primary-color);
}