.color-card{
    background-color: var(--primary-color);
    width: fit-content;
    height: fit-content;
    padding: 0.4rem;
    box-shadow: var(--primary-shadow);
}

.color-card__color-box{
    height: 15rem;
    aspect-ratio: 1/1;
}

.color-card__info{ padding: 1rem 0 1.5rem 1rem; position: relative; }

.color-card__item{
    font-size: 1.2rem;
    font-weight: bold;
}

.color-title{
    font-weight: 900;
    font-size: 1.4rem;
}

.color-type{ margin-left: 0.5rem; }

.color-card__options{
    cursor: pointer;
    text-align: end;
    background-color: var(--primary-color);
    position: absolute;
    top: 0.5rem;
    right: 0;
}

.color-card__options i{
    font-size: 1.5rem;
    cursor: pointer;
    padding-right: 0.5rem;
    opacity: 0.7;
}

.popup-options{
    width: fit-content;
    position: absolute;
    top: 2rem;
    right: -1.5rem;
    border: 0.1rem solid var(--shadow-color);
    padding: 0.6rem;
    z-index: 999;
}

.popup-options i{ font-size: 1.3rem;}

.popup-options, .popup-options * {
    background-color: var(--primary-color);
    cursor: pointer;
}

.popup-options__remove{
    color: darkred;
    margin-right: 1.5rem;
}

.popup-options__edit{ color: darkslategrey; }

.popup-options.enabled{
    display: block;
}

.popup-options.disabled{
    display: none;
}